{
  "version": "1.0",
  "metadata": {
    "apiVersion": "2020-05-10",
    "endpointPrefix": "sts",
    "globalEndpoint": "sts.owlhub.io",
    "protocol": "query",
    "serviceAbbreviation": "OWLHUB STS",
    "serviceFullName": "OWLHUB Security Token Service",
    "serviceId": "STS",
    "signatureVersion": "v4",
    "uid": "sts-2011-06-15",
    "xmlNamespace": "https://sts.owlhub.io/doc/2020-05-10/"
  },
  "operations": {
    "AssumeRole": {
      "name": "AssumeRole",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssumeRoleRequest"
      },
      "output": {
        "shape": "AssumeRoleResponse",
        "resultWrapper": "AssumeRoleResult"
      },
      "errors": [
        {
          "shape": "MalformedPolicyDocumentException"
        },
        {
          "shape": "PackedPolicyTooLargeException"
        },
        {
          "shape": "RegionDisabledException"
        }
      ],
      "documentation": ""
    },
    "AssumeRoleWithWebIdentity": {
      "name": "AssumeRoleWithWebIdentity",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssumeRoleWithWebIdentityRequest"
      },
      "output": {
        "shape": "AssumeRoleWithWebIdentityResponse",
        "resultWrapper": "AssumeRoleWithWebIdentityResult"
      },
      "errors": [
        {
          "shape": "MalformedPolicyDocumentException"
        },
        {
          "shape": "PackedPolicyTooLargeException"
        },
        {
          "shape": "IDPRejectedClaimException"
        },
        {
          "shape": "IDPCommunicationErrorException"
        },
        {
          "shape": "InvalidIdentityTokenException"
        },
        {
          "shape": "ExpiredTokenException"
        },
        {
          "shape": "RegionDisabledException"
        }
      ],
      "documentation": ""
    },
    "GetAccessKeyInfo": {
      "name": "GetAccessKeyInfo",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAccessKeyInfoRequest"
      },
      "output": {
        "shape": "GetAccessKeyInfoResponse",
        "resultWrapper": "GetAccessKeyInfoResult"
      },
      "documentation": ""
    },
    "GetCallerIdentity": {
      "name": "GetCallerIdentity",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetCallerIdentityRequest"
      },
      "output": {
        "shape": "GetCallerIdentityResponse",
        "resultWrapper": "GetCallerIdentityResult"
      },
      "documentation": ""
    },
    "GetFederationToken": {
      "name": "GetFederationToken",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetFederationTokenRequest"
      },
      "output": {
        "shape": "GetFederationTokenResponse",
        "resultWrapper": "GetFederationTokenResult"
      },
      "errors": [
        {
          "shape": "MalformedPolicyDocumentException"
        },
        {
          "shape": "PackedPolicyTooLargeException"
        },
        {
          "shape": "RegionDisabledException"
        }
      ],
      "documentation": ""
    },
    "GetSessionToken": {
      "name": "GetSessionToken",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSessionTokenRequest"
      },
      "output": {
        "shape": "GetSessionTokenResponse",
        "resultWrapper": "GetSessionTokenResult"
      },
      "errors": [
        {
          "shape": "RegionDisabledException"
        }
      ],
      "documentation": ""
    }
  },
  "shapes": {
    "AssumeRoleRequest": {
      "type": "structure",
      "required": [
        "RoleOrn",
        "RoleSessionName"
      ],
      "members": {
        "RoleOrn": {
          "shape": "ornType",
          "documentation": ""
        },
        "RoleSessionName": {
          "shape": "roleSessionNameType",
          "documentation": ""
        },
        "PolicyOrns": {
          "shape": "policyDescriptorListType",
          "documentation": ""
        },
        "Policy": {
          "shape": "sessionPolicyDocumentType",
          "documentation": ""
        },
        "DurationSeconds": {
          "shape": "roleDurationSecondsType",
          "documentation": ""
        },
        "Tags": {
          "shape": "tagListType",
          "documentation": ""
        },
        "TransitiveTagKeys": {
          "shape": "tagKeyListType",
          "documentation": ""
        },
        "ExternalId": {
          "shape": "externalIdType",
          "documentation": ""
        },
        "SerialNumber": {
          "shape": "serialNumberType",
          "documentation": ""
        },
        "TokenCode": {
          "shape": "tokenCodeType",
          "documentation": ""
        }
      }
    },
    "AssumeRoleResponse": {
      "type": "structure",
      "members": {
        "Credentials": {
          "shape": "Credentials",
          "documentation": ""
        },
        "AssumedRoleUser": {
          "shape": "AssumedRoleUser",
          "documentation": ""
        },
        "PackedPolicySize": {
          "shape": "nonNegativeIntegerType",
          "documentation": ""
        }
      },
      "documentation": ""
    },
    "AssumeRoleWithWebIdentityRequest": {
      "type": "structure",
      "required": [
        "RoleOrn",
        "RoleSessionName",
        "WebIdentityToken"
      ],
      "members": {
        "RoleOrn": {
          "shape": "ornType",
          "documentation": ""
        },
        "RoleSessionName": {
          "shape": "roleSessionNameType",
          "documentation": ""
        },
        "WebIdentityToken": {
          "shape": "clientTokenType",
          "documentation": ""
        },
        "ProviderId": {
          "shape": "urlType",
          "documentation": ""
        },
        "PolicyOrns": {
          "shape": "policyDescriptorListType",
          "documentation": ""
        },
        "Policy": {
          "shape": "sessionPolicyDocumentType",
          "documentation": ""
        },
        "DurationSeconds": {
          "shape": "roleDurationSecondsType",
          "documentation": ""
        }
      }
    },
    "AssumeRoleWithWebIdentityResponse": {
      "type": "structure",
      "members": {
        "Credentials": {
          "shape": "Credentials",
          "documentation": ""
        },
        "SubjectFromWebIdentityToken": {
          "shape": "webIdentitySubjectType",
          "documentation": ""
        },
        "AssumedRoleUser": {
          "shape": "AssumedRoleUser",
          "documentation": ""
        },
        "PackedPolicySize": {
          "shape": "nonNegativeIntegerType",
          "documentation": ""
        },
        "Provider": {
          "shape": "Issuer",
          "documentation": ""
        },
        "Audience": {
          "shape": "Audience",
          "documentation": ""
        }
      },
      "documentation": ""
    },
    "AssumedRoleUser": {
      "type": "structure",
      "required": [
        "AssumedRoleId",
        "Orn"
      ],
      "members": {
        "AssumedRoleId": {
          "shape": "assumedRoleIdType",
          "documentation": ""
        },
        "Orn": {
          "shape": "ornType",
          "documentation": ""
        }
      },
      "documentation": ""
    },
    "Audience": {
      "type": "string"
    },
    "Credentials": {
      "type": "structure",
      "required": [
        "AccessKeyId",
        "SecretAccessKey",
        "SessionToken",
        "Expiration"
      ],
      "members": {
        "AccessKeyId": {
          "shape": "accessKeyIdType",
          "documentation": ""
        },
        "SecretAccessKey": {
          "shape": "accessKeySecretType",
          "documentation": ""
        },
        "SessionToken": {
          "shape": "tokenType",
          "documentation": ""
        },
        "Expiration": {
          "shape": "dateType",
          "documentation": ""
        }
      },
      "documentation": ""
    },
    "DecodeAuthorizationMessageRequest": {
      "type": "structure",
      "required": [
        "EncodedMessage"
      ],
      "members": {
        "EncodedMessage": {
          "shape": "encodedMessageType",
          "documentation": ""
        }
      }
    },
    "DecodeAuthorizationMessageResponse": {
      "type": "structure",
      "members": {
        "DecodedMessage": {
          "shape": "decodedMessageType",
          "documentation": ""
        }
      },
      "documentation": ""
    },
    "FederatedUser": {
      "type": "structure",
      "required": [
        "FederatedUserId",
        "Orn"
      ],
      "members": {
        "FederatedUserId": {
          "shape": "federatedIdType",
          "documentation": ""
        },
        "Orn": {
          "shape": "ornType",
          "documentation": ""
        }
      },
      "documentation": ""
    },
    "GetAccessKeyInfoRequest": {
      "type": "structure",
      "required": [
        "AccessKeyId"
      ],
      "members": {
        "AccessKeyId": {
          "shape": "accessKeyIdType",
          "documentation": ""
        }
      }
    },
    "GetAccessKeyInfoResponse": {
      "type": "structure",
      "members": {
        "Account": {
          "shape": "accountType",
          "documentation": ""
        }
      }
    },
    "GetCallerIdentityRequest": {
      "type": "structure",
      "members": {}
    },
    "GetCallerIdentityResponse": {
      "type": "structure",
      "members": {
        "UserId": {
          "shape": "userIdType",
          "documentation": ""
        },
        "Account": {
          "shape": "accountType",
          "documentation": ""
        },
        "Orn": {
          "shape": "ornType",
          "documentation": ""
        }
      },
      "documentation": ""
    },
    "GetFederationTokenRequest": {
      "type": "structure",
      "required": [
        "Name"
      ],
      "members": {
        "Name": {
          "shape": "userNameType",
          "documentation": ""
        },
        "Policy": {
          "shape": "sessionPolicyDocumentType",
          "documentation": ""
        },
        "PolicyOrns": {
          "shape": "policyDescriptorListType",
          "documentation": ""
        },
        "DurationSeconds": {
          "shape": "durationSecondsType",
          "documentation": ""
        },
        "Tags": {
          "shape": "tagListType",
          "documentation": ""
        }
      }
    },
    "GetFederationTokenResponse": {
      "type": "structure",
      "members": {
        "Credentials": {
          "shape": "Credentials",
          "documentation": ""
        },
        "FederatedUser": {
          "shape": "FederatedUser",
          "documentation": ""
        },
        "PackedPolicySize": {
          "shape": "nonNegativeIntegerType",
          "documentation": ""
        }
      },
      "documentation": ""
    },
    "GetSessionTokenRequest": {
      "type": "structure",
      "members": {
        "DurationSeconds": {
          "shape": "durationSecondsType",
          "documentation": ""
        },
        "SerialNumber": {
          "shape": "serialNumberType",
          "documentation": ""
        },
        "TokenCode": {
          "shape": "tokenCodeType",
          "documentation": ""
        }
      }
    },
    "GetSessionTokenResponse": {
      "type": "structure",
      "members": {
        "Credentials": {
          "shape": "Credentials",
          "documentation": ""
        }
      },
      "documentation": ""
    },
    "Issuer": {
      "type": "string"
    },
    "NameQualifier": {
      "type": "string"
    },
    "PolicyDescriptorType": {
      "type": "structure",
      "members": {
        "orn": {
          "shape": "ornType",
          "documentation": ""
        }
      },
      "documentation": ""
    },
    "Subject": {
      "type": "string"
    },
    "SubjectType": {
      "type": "string"
    },
    "Tag": {
      "type": "structure",
      "required": [
        "Key",
        "Value"
      ],
      "members": {
        "Key": {
          "shape": "tagKeyType",
          "documentation": ""
        },
        "Value": {
          "shape": "tagValueType",
          "documentation": ""
        }
      },
      "documentation": ""
    },
    "accessKeyIdType": {
      "type": "string",
      "max": 128,
      "min": 16,
      "pattern": "[\\w]*"
    },
    "accessKeySecretType": {
      "type": "string"
    },
    "accountType": {
      "type": "string"
    },
    "ornType": {
      "type": "string",
      "max": 2048,
      "min": 20,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]+"
    },
    "assumedRoleIdType": {
      "type": "string",
      "max": 193,
      "min": 2,
      "pattern": "[\\w+=,.@:-]*"
    },
    "clientTokenType": {
      "type": "string",
      "max": 2048,
      "min": 4,
      "sensitive": true
    },
    "dateType": {
      "type": "timestamp"
    },
    "decodedMessageType": {
      "type": "string"
    },
    "durationSecondsType": {
      "type": "integer",
      "max": 129600,
      "min": 900
    },
    "encodedMessageType": {
      "type": "string",
      "max": 10240,
      "min": 1
    },
    "externalIdType": {
      "type": "string",
      "max": 1224,
      "min": 2,
      "pattern": "[\\w+=,.@:\\/-]*"
    },
    "federatedIdType": {
      "type": "string",
      "max": 193,
      "min": 2,
      "pattern": "[\\w+=,.@\\:-]*"
    },
    "nonNegativeIntegerType": {
      "type": "integer",
      "min": 0
    },
    "policyDescriptorListType": {
      "type": "list",
      "member": {
        "shape": "PolicyDescriptorType"
      }
    },
    "roleDurationSecondsType": {
      "type": "integer",
      "max": 43200,
      "min": 900
    },
    "roleSessionNameType": {
      "type": "string",
      "max": 64,
      "min": 2,
      "pattern": "[\\w+=,.@-]*"
    },
    "serialNumberType": {
      "type": "string",
      "max": 256,
      "min": 9,
      "pattern": "[\\w+=/:,.@-]*"
    },
    "sessionPolicyDocumentType": {
      "type": "string",
      "max": 2048,
      "min": 1,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+"
    },
    "tagKeyListType": {
      "type": "list",
      "member": {
        "shape": "tagKeyType"
      },
      "max": 50
    },
    "tagKeyType": {
      "type": "string",
      "max": 128,
      "min": 1,
      "pattern": "[\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]+"
    },
    "tagListType": {
      "type": "list",
      "member": {
        "shape": "Tag"
      },
      "max": 50
    },
    "tagValueType": {
      "type": "string",
      "max": 256,
      "min": 0,
      "pattern": "[\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*"
    },
    "tokenCodeType": {
      "type": "string",
      "max": 6,
      "min": 6,
      "pattern": "[\\d]*"
    },
    "tokenType": {
      "type": "string"
    },
    "urlType": {
      "type": "string",
      "max": 2048,
      "min": 4
    },
    "userIdType": {
      "type": "string"
    },
    "userNameType": {
      "type": "string",
      "max": 32,
      "min": 2,
      "pattern": "[\\w+=,.@-]*"
    },
    "webIdentitySubjectType": {
      "type": "string",
      "max": 255,
      "min": 6
    }
  },
  "documentation": ""
}
